<form [formGroup]="employeeForm">
    <div class="row mb-3">
        <div class="col">
            <label for="FirstName" class="form-label">Primer Nombre</label>
            <input
                type="text"
                class="form-control"
                formControlName="FirstName"
                [class.error]="employeeForm.get('FirstName')?.invalid && employeeForm.get('FirstName')?.touched || employeeForm.get('FirstName')?.invalid && employeeForm.get('FirstName')?.untouched"
                [ngbTooltip]="'El campo es requerido'"
                [disableTooltip]="!(employeeForm.get('FirstName')?.invalid && employeeForm.get('FirstName')?.touched || employeeForm.get('FirstName')?.invalid && employeeForm.get('FirstName')?.untouched)"
                [triggers]="'hover:blur'"
                [placement]="'bottom'"
                placeholder="Primer Nombre"
                aria-label="Primer Nombre"
            >
        </div>
        <div class="col">
            <label for="SecondName" class="form-label">Segundo Nombre</label>
            <input
                type="text"
                class="form-control"
                formControlName="SecondName"
                placeholder="Segundo Nombre"
                aria-label="Segundo Nombre"
            >
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label for="Surname" class="form-label">Primer Apellido</label>
            <input
                type="text"
                class="form-control"
                formControlName="Surname"
                [class.error]="employeeForm.get('Surname')?.invalid && employeeForm.get('Surname')?.touched || employeeForm.get('Surname')?.invalid && employeeForm.get('Surname')?.untouched"
                [ngbTooltip]="'El campo es requerido'"
                [disableTooltip]="!(employeeForm.get('Surname')?.invalid && employeeForm.get('Surname')?.touched || employeeForm.get('Surname')?.invalid && employeeForm.get('Surname')?.untouched)"
                [triggers]="'hover:blur'"
                [placement]="'bottom'"
                placeholder="Primer Apellido"
                aria-label="Primer Apellido"
            >
        </div>
        <div class="col">
            <label for="SecondSurname" class="form-label">Segundo Apellido</label>
            <input
                type="text"
                formControlName="SecondSurname"
                [class.error]="employeeForm.get('SecondSurname')?.invalid && employeeForm.get('SecondSurname')?.touched || employeeForm.get('SecondSurname')?.invalid && employeeForm.get('SecondSurname')?.untouched"
                [ngbTooltip]="'El campo es requerido'"
                [disableTooltip]="!(employeeForm.get('SecondSurname')?.invalid && employeeForm.get('SecondSurname')?.touched || employeeForm.get('SecondSurname')?.invalid && employeeForm.get('SecondSurname')?.untouched)"
                [triggers]="'hover:blur'"
                [placement]="'bottom'"
                class="form-control"
                placeholder="Segundo Apellido"
                aria-label="Segundo Apellido"
            >
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label for="IdCountry" class="form-label">País</label>
            <select class="form-select" formControlName="IdCountry" aria-label="Paía del empleo">
                <option *ngFor="let c of countries; index as i" [value]="c.Id">{{ c.NameCountry }}</option>
            </select>
          </div>
        <div class="col">
            <label for="IdIdentification" class="form-label">Tipo de Identificación</label>
            <select class="form-select" formControlName="IdIdentification" aria-label="Tipo de Identificación">
                <option *ngFor="let ti of typeIdentifications; index as i" [value]="ti.Id">{{ ti.NameIdentification }}</option>
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label for="IdentificationNumber" class="form-label">Número de Identificación</label>
            <input
                type="text"
                class="form-control"
                formControlName="IdentificationNumber"
                placeholder="Número Identificación"
                aria-label="Número Identificación"
            >
        </div>
        <div class="col">
            <label for="Email" class="form-label">Correo Electronico</label>
            <input
                type="email"
                class="form-control"
                formControlName="Email"
                readonly
                placeholder="Correo Electronico"
                aria-label="Correo Electronico"
            >
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label for="country" class="form-label">Fecha de Ingreso</label>
            <input
                type="datetime-local"
                class="form-control"
                formControlName="AdmissionDate"
                placeholder="Fecha de Ingreso"
                aria-label="Fecha de Ingreso"
            >
        </div>
        <div class="col">
            <label for="country" class="form-label">Áreas</label>
            <select class="form-select" formControlName="IdArea" aria-label="Áreas">
                <option>Seleccione</option>
                <option *ngFor="let a of areas; index as i" [value]="a.Id">{{ a.NameArea }}</option>
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div class="form-check form-switch">
                <input 
                    class="form-check-input ml-2" 
                    formControlName="State" 
                    type="checkbox" role="switch" 
                    id="State" [checked]="true" [disabled]="true">
                <label class="form-check-label ml-5" for="State">Estado del Empleado</label>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center bd-highlight mb-3">
        <button 
            type="button" 
            class="btn btn-{{ labelNameModal === 'Crear' ? 'primary' : 'info' }} btn-lg" 
            (click)="validateAction()">
            {{ labelNameModal }}
        </button>
    </div>
</form>
